<div class="multi-nested multi_value dataset_complex_person custom_field">
  <%= f.input :complex_person,
              as: :nested_complex_person,
              include_blank: false,
              input_html: {
                class: '',
                data: {name: :complex_person}
              },
              required: f.object.required?(:complex_person)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another person</span>
  </button>
</div>
