<nav class="row navbar navbar-light bg-light navbar-expand-sm justify-content-between align-items-center px-2 py-3 border-bottom" role="navigation" aria-label="Root Menu">
  <div class="col-sm-7 offset-2">
    <%= render partial: 'catalog/search_form' %>
  </div>
</nav><!-- /.navbar -->