<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <%= image_tag image_path('hyrax_logo.png') %>
</a>

<a id="logo" class="navbar-brand" href="https://or2024.openrepositories.org/" data-no-turbolink="true">
  <%= image_tag image_path('open_repositories.webp') %>
</a>